extends layout

block content
  body(class="initpage")
    h1.text.text-primary="Welcome to my Kitty World"
    p="Manage your own cute themed inventory" 
   input.btn.btn-primary(type="submit" value="Let's Go!")