extends layout

block content
  - if (user)
    h2 Welcome, #{user.username}!
    p You are now logged in.
    p
      a(href="/logout") Logout
  - else
    h2 Welcome, Guest!
    p Please log in to access your account.
    p
      a(href="/login") Login
