doctype html 
html
  head
     title Create New Category
     link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  body 
  h2="Categories"
  if errors 
    ul.alert.alert-danger 
      each error in errors 
        li= error.msg
  form.d-flex.flex-column.gap-3.mx-3(method="POST" action="/categories/create")
      label(for="name") Name
      input.form-control.my-2(id="name" name="name" placeholder="Name" required)
      
      label(for="desc") Description
      input.form-control.my-2(id="desc" name="desc" placeholder="Description" required)
      input.btn.btn-primary(type="submit" value="Submit")